/* .row {
  display: flex;
  gap: 10px;
}
@media (max-width: 767px) {
  .row {
    flex-direction: column;
  }
}
.col {
  flex: 25%;
  background-color: #aaa;
  padding: 10px;
} */
.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.col {
  background-color: #aaa;
  padding: 10px;
}
